/*AJUSTE GENERAL*/
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/atlasfondo3_desenfocado.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 120px;
}

header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    border-radius: 20%;
}

/* Contenedor principal */
.container-cesta {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;
}

.container-cesta .card {
    width: 100%;
    max-width: 700px;
    min-height: 180px;
    padding: 30px;
}


/* Ajustes para el logo */
#logo {
    width: 90px;
    height: auto;
    margin-right: 10px;
}

/* Estilos para el título */
h1 {
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    white-space: nowrap;
}


/* Títulos */
h2 {
    font-size: 1.2rem;
    font-weight: 300;
}

#h2 {
    color: #fff;
}

/* Tarjetas de productos */
.card {
    border-radius: 12px;
    border: 2px solid #212529;
}

.card h5 {
    font-size: 1.3rem;
    color: #343a40;
}

/* Productos */
.list-group-item {
    background-color: #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.list-group-item:hover {
    background-color: #f1f3f5;
    transform: scale(1.02);
    box-shadow: 3px 3px 0px #000000;
}

/* Total y botón de compra */
#total-precio {
    font-size: 1.5rem;
}

.btn-success {
    font-size: 1.2rem;
    padding: 12px 20px;
    border-radius: 8px;
    border: 2px solid #212529;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 0px #000000;
}

.btn-success:hover {
    background-color: #218838;
    box-shadow: 5px 5px 0px #000000;
}

/*FOOTER*/

#footer {
    width: 100%;
    padding: 20px 20px;
    background-color: #dce0e3;
    text-align: center;
    color: #333;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
}


/*Para movil*/
@media (max-width: 768px) {
    .container-cesta {
        max-width: 90%;
        padding: 10px;
    }

    .card {
        padding: 10px;
        font-size: 0.9rem;
    }

    .card h5 {
        font-size: 1.1rem;
    }

    .list-group-item {
        padding: 8px;
        font-size: 0.9rem;
    }

    #total-precio {
        font-size: 1.2rem;
    }

    .btn-success {
        font-size: 1rem;
        padding: 10px 15px;
    }
}